footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 130px 45px;
  box-shadow: 0 -4px 6px -2px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #e0e0e0;
  padding: 10px;
  grid-template-areas:
    'links    links    social'
    'f-bottom f-bottom f-bottom';
}

.footer-links {
  grid-area: links;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 265px;
  padding-left: 20px;
}

.footer-links-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.footer-links-column strong {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.footer-links a {
  color: #000;
  text-decoration: none;
}

.footer-social {
  grid-area: social;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
  padding-right: 20px;
}

.footer-bottom {
  grid-column: f-bottom;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 0.9em;
  color: #6D7993;
  position: relative;
}

/* This is just for the divider line between the 2 rows */
.footer-bottom::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  width: 100vw;
  height: 1px;
  background-color: #6d79935d;
  transform: translateX(-50%);
}

.footer-bottom-left {
  display: flex;
  gap: 100px;
  padding-left: 50px;
}

.footer-bottom-left a {
  color: #6D7993;
  text-decoration: none;
}

.footer-bottom-right {
  text-align: right;
  display: flex;
  gap: 20px;
  padding-right: 20px;
}

/*Responsive design*/
@media (max-width: 920px) {

  .footer-links {
    gap: 90px;
  }

  .footer-bottom-left {
    gap: 40px;
  }
}

@media (max-width: 720px) {
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas:
      'social social'
      'links links'
      'f-bottom f-bottom';
  }

  .footer-links {
    gap: 40px;
    justify-content: center;
    padding-left: 0;
  }

  .footer-social {
    justify-content: center;
  }

  .footer-bottom {
    align-items: center;
  }

  .footer-bottom-left {
    gap: 10px;
    padding-left: 0;
  }

  .footer-bottom::before {
    top: 15px;
  }
}