.header-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  justify-content: flex-start;
}

.header-right {
  justify-content: flex-end;
}

.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-link {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  position: relative;
  font-weight: normal;
  margin-right: 20px;
}

.header-link.active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #6D7993;
  text-decoration-thickness: 2px;
}

.header-link:hover {
  font-weight: bold;
}

.header-logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.header-search {
  position: relative;
  margin: 0 20px;
}

.header-search input[type="search"] {
  padding: 5px 1px 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.header-search input[type="search"]:focus {
  border-color: #6D7993;
}

.header-profile {
  margin-left: 20px;
}

.header-profile-inner {
  cursor: pointer !important;
}

.fixed-dropdown {
  display: flex !important;
  flex-direction: column !important;
}

.dropdown-item {
  padding: 10px 0px !important;
  justify-content: left !important;
  text-decoration: none !important;
  color: #000000 !important;
  font-size: 20px !important;
  font-weight: bold !important;
  white-space: nowrap !important;
}

.dropdown-item:hover {
  background-color: #f5f5f5 !important;
}

@media (max-width: 1200px) {
  .header-link {
    font-size: 16px;
  }

  .header-search input[type="search"] {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .header-container {
    position: static;
  }
  
  .header-link {
    font-size: 20px;
  }

  .header-center {
    position: static;
    transform: none;
    margin-bottom: 10px;
  }

  .header-left {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: row;
  }

  .header-nav {
    flex-direction: column;
    align-items: center;
  }

  .header-center {
    order: -2;
  }

  .header-left .header-link, .header-right a {
    margin: 0 10px;
  }

  .fixed-dropdown {
    display: none;
  }
}
