.header-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  justify-content: flex-start;
}

.header-right {
  justify-content: flex-end;
}

.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-link {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  position: relative;
  font-weight: normal;
  margin-right: 20px;
}

.header-link.active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #6D7993;
  text-decoration-thickness: 2px;
}

.header-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 3px;
  background-color: #6D7993;
  border-radius: 3px;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease, border-radius 0.3s ease;
}

.header-link:hover {
  font-weight: bold;
}

.header-link:hover::after {
  transform: scaleX(1);
}

.header-logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.header-search {
  position: relative;
  margin: 0 20px;
}

.header-search input[type="search"] {
  padding: 5px 1px 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.header-search input[type="search"]:focus {
  border-color: #6D7993;
}

.header-profile {
  margin-left: 20px;
}

.fixed-dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  padding: 10px 0px;
  justify-content: left;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}
