
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 98%;
  margin: 0 auto;
}

.carousel-inner {
  display: flex;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.carousel-button {
  background-color: transparent;
  color: darkgrey;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border: 0px;
}

.carousel-button svg {
  stroke-width: 3px;
  width: clamp(24px, 4vw, 80px);
  height: clamp(24px, 4vw, 80px);
  transition: transform 0.3s ease-in-out;
}

.carousel-button svg:hover {
  color: gray;
  transform: scale(1.1);
}

.carousel-inner .card.product-card {
    min-width: clamp(150px, 20vw, 1100px) !important;
    max-width: clamp(150px, 20vw, 1100px) !important;
}