.layout-container {
  display: grid;
  /* Cambiado 70px por auto para permitir la expansión */
  grid-template-rows: auto 1fr 200px;
  min-height: 100vh;
  grid-template-areas:
    'header   header  header'
    'main     main    main'
    'footer   footer  footer';
}

.main-content {
  margin-top: 70px;
}

.layout-container header {
  grid-area: header;
}

.layout-container main {
  grid-area: main;
}

.layout-container footer {
  grid-area: footer;
}

body {
  margin: 0;
}

nav {
  display: flex;
  gap: 1em;
}

@media (max-width: 768px) {
  .main-content {
    margin-top: 0px;
  }
}