.card-header {
  background-color: #FFFFFF !important;
}

.card-body {
  background-color: #FFFFFF !important;
  justify-content: center !important;
}

.order-primary-data {
  font-size: larger;
  text-align: center;
  align-items: center;
  margin: 0;
}

.order-primary-data .col {
  flex: 1; 
  padding: 5px 10px;
}

.pending-color {
  background-color: #FCFFC5;
  border-radius: 15px;
}

.arrived-color {
  background-color: #d4edda;
  border-radius: 15px;
}

.lost-color {
  background-color: #f8d7da;
  border-radius: 15px;
}

.order-colapse-button {
  width: 25rem;
  padding: 8px 15px;
  background-color: #FFFFFF;
  color: #6D7993;
  border-radius: 25px;
  transition: background-color 0.3s;
  margin: 5px;
  border-color: #6D7993 !important;
}

.order-colapse-button:hover {
  background-color: #6D7993;
  color: #FFFFFF;
}

.order-colapse-button:active {
  background-color: #6D7993 !important;
  border-color: #FFFFFF !important;
  color: #FFFFFF !important;
}

@media (max-width: 768px) {
  .order-primary-data {
    font-size: medium;
  }

  .pending-color, .arrived-color, .lost-color {
    font-size: medium;
  }

  .order-colapse-button {
    width: 15rem;
  }
}